# Arquivos de ambiente
.env

# Arquivos Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
questão1.py
questão2.py
questão3.py
questão4.py
questão5.py
questão6.py
questão7.py
questão8.py
questão9.py
questão10.py


# Ambientes virtuais
venv/
env/
ENV/
.venv/

# Arquivos de build (GERADOS PELO QUARTO)
_site/

# Imagens geradas automaticamente
*.jpg

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Arquivos do Quarto
/.quarto/
**/*.quarto_ipynb

