# Arquivos de ambiente
.env
F:\UNASP\programacao_python\.env

# Arquivos Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Ambientes virtuais
venv/
env/
ENV/

# Arquivos gerados
*.html
grafico.png
*.png
*.jpg

# Arquivos do Quarto
docs/
_site/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db


/.quarto/
**/*.quarto_ipynb
